.calculator {
    width: 300px;
    border: 2px solid black;
    border-radius: 15px;
    padding: 10px;
    height: 450px;
}
button {
    height: 25px;
}
.functions {
    display: grid;
    grid-template: 50px / auto auto auto auto auto;
}
.display {
    background-color: black;
    color: white;
    grid-row: 1;
    grid-column: 1/5;
    height: 30px;
}
.reset {
    grid-row: 2;
    grid-column: 1;
}
.grid-minus {
    grid-row: 2;
    grid-column: 2;
}
.grid-plus {
    grid-row: 2;
    grid-column: 3;
}
.grid-mult {
    grid-row: 2;
    grid-column: 4;
}
.grid-div {
    grid-row: 3;
    grid-column: 4; 
}
.grid-equal {
    grid-row: 4 / 5;
    grid-column: 4;
}
.grid-1 {
    grid-row: 5;
    grid-column: 1;
}
.grid-2 {
    grid-row: 5;
    grid-column: 2;
}
.grid-3 {
    grid-row: 5;
    grid-column: 3;
}
.grid-4 {
    grid-row: 4;
    grid-column: 1;
}
.grid-5 {
    grid-row: 4;
    grid-column: 2;
}
.grid-6 {
    grid-row: 4;
    grid-column: 3;
}.grid-7 {
    grid-row: 3;
    grid-column: 1;
}
.grid-8 {
    grid-row: 3;
    grid-column: 2;
}
.grid-9 {
    grid-row: 3;
    grid-column: 3;
}
